body {
    margin: 0px;
    padding: 0px;
}


:root {
    font-family: Arial, Helvetica, sans-serif;
    
    --icon-height: 24px;
}

.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template:  1.25fr repeat(4, 1fr) / repeat(4, 1fr);
}

.header {
    grid-column: 2 / span end;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header .search-icon {
    height: var(--icon-height);
}

.header input {
    height: var(--icon-height);
    width: 34vw;

    border-radius: 6px;
    background-color: rgb(224, 221, 221);
    border: none;
}
/* TOP LEFT HEADER */
.header .top-left {
    display: flex;

    grid-column: 1;
    grid-row: 1;

    align-items: center;
    gap: 14px;
    padding-left: 24px;
}

/* HEADER TOP RIGHT */
.header .top-right {
    display: flex;

    grid-column: 2;

    justify-content: flex-end;
    align-items: center;

    gap: 1em;
    padding-right: 24px;
}

.header .top-right .bell {
    height: var(--icon-height);
}

.header .top-right .pfp {
    height: 36px;
}

.header .top-right p {
    font-weight: bold;
}

/* HEADER BOTTOM LEFT */
.header .bottom-left {
    grid-row: 2;

    gap: 12px;
    align-items: center;
    display: flex;

    padding-bottom: 12px;
    padding-left: 24px;
}

.header .bottom-left img {
    height: 52px;
}

.header .bottom-left div {
    display: flex;
    flex-direction: column;


}

.header .bottom-left .small {
    font-size: 12px;
}

.header .bottom-left p {
    margin: 4px;

    font-weight: bold;
}

/* HEADER BOTTOM RIGHT */
.header .bottom-right {
    display: flex;
    flex-direction: row;

    grid-column: 2;
    grid-row: 2;

    align-items: center;
    justify-content: flex-end;

    padding-right: 24px;
    gap: 0.5em;

    

    
}

.header .bottom-right button {
    background-color: rgba(0, 153, 255, 0.938);
    color: white;

    border-style: none;
    border-radius: 10px;
    padding: 8px 24px;

    font-weight: bold;


}

.sidebar {
    background-color: rgb(3, 163, 255);
    grid-row: 1 / end;
    grid-column: 1;

    padding-left: 24px;
}

.sidebar img {
    height: 24px;
}

.sidebar div div {
    display: flex;
    flex-direction: row;

    align-items:center;
}

.sidebar div div a {
    text-decoration: none;
    color: white;
}

.sidebar .dashboard {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.main-content {
    background-color: rgb(158, 158, 158);
    grid-row: 2 / end;
    grid-column: 2 / end;
}

